/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.header {
  background: #c0b7b7;

  padding: 30px;
  display: flex;
  justify-content: space-between;
  .left_menu {
    display: inline-block;
    ul {
      margin-bottom: 0px;
      li {
        list-style: none;
        display: inline-block;
        line-height: normal;
        margin-right: 15px;
        &:last-child {
          margin-right: 0px;
        }
        .menu_link {
          color: #000000;
          font-size: 15px;
          text-decoration: none;
          span {
          }
        }
      }
    }
  }
}
